<?xml version="1.0" encoding="utf-8"?>
<manifest package="ifox.sicnu.com.mag10"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".APP"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="符石守护者_cs版"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ReadyActivity"></activity>

        <service android:name=".Service.MusicService"/>

        <activity android:name=".SelectActivity"></activity>
        <activity android:name=".HeroActivity"></activity>
        <activity android:name=".AbilityActivity"></activity>
        <activity
            android:name=".GameActivity"
            android:noHistory="false"></activity>
        <activity android:name=".EndActivity"></activity>
    </application>

</manifest>
